/monkey/monkey/Project/Debug
/monkey/monkey/Project/.vs
/monkey/monkey/Game/GameProject.exe
/monkey/monkey/Game/GameProject.exp
/monkey/monkey/Game/GameProject.lib
/monkey/monkey/Game/GameProject.pdb
